<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>app</title>
<link rel="stylesheet" media="all" href="node_modules/materialize/css/materialize.min.css">

</head>
<body ng-app="mysql">
  <section id="start" ng-controller="StartCtrl as start" ng-init="start.init()" ng-cloak>
    <div id="connectionList">
      <div class="row">
        <div class="col s6 m6" ng-repeat="(key, conect) in start.connectionList">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{ key }}</span>
              <div class="">
                <a class="btn-floating waves-effect waves-light" ng-click="start.dbConnection(conect)"><i class="material-icons">con</i></a>
                <a class="btn-floating waves-effect waves-light" ><i class="material-icons">set</i></a>
                <a class="btn-floating waves-effect waves-light" ng-click="start.connectionItemDel(key)"><i class="material-icons">del</i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <a class="btn-floating btn-large waves-effect waves-light red" ng-click="start.toggleNewConnection()"><i class="material-icons"></i></a>
    </div>


    <div id="newConnection" ng-show="start.newConnection">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12" ng-repeat="(label, name) in fieldList">
              <label for='{{ name }}'>{{ label }}</label>
              <input type='text' id='{{ name }}' class="validate" ng-model="start[name]">
            </div>

            <div class="input-field col s12">
              <label for='connectionName'>name</label>
              <input type='text' id='connectionName' class="validate" ng-model="start.connectionName">
            </div>

            <div class="input-field col s12">
              <label for='host'>host</label>
              <input type='text' id='host' ng-model="start.form.host"/>
            </div>

            <div class="input-field col s12">
              <label for='user'>user</label>
              <input type='text' id='user' ng-model="start.form.user" />
            </div>

            <div class="input-field col s12">
              <label for='password'>password</label>
              <input type='text' id='password' ng-model="start.form.password" />
            </div>

            <div class="input-field col s12">
              <label for='db'>database</label>
              <input type='text' id='db' ng-model="start.form.db" />
            </div>

            <div>
              <button class="waves-effect waves-light btn-large" ng-click="start.dbTestConnect(start.form)">Test Connect</button>
              <button class="waves-effect waves-light btn-large" ng-click="start.saveDbOptions(start.connectionName, start.form)">save</button>
            </div>
        </div>
      </div>
    </div>
    </div>
  </section>


  <section id="main" ng-controller="MainCtrl as main" ng-init="main.init()" ng-cloak>
    <div class="row">
    <div class="left col s2">
      <ul class="collapsible" data-collapsible="accordion">
        <li ng-repeat="(db, tables) in main.databases">
          <div class="collapsible-header">{{ db }}</div>
          <div class="collapsible-body">
            <ul>
              <li ng-repeat="table in tables">
                <a ng-click="main.openModel(db, table)">{{ table }}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="right col s10">
      <div id="operation">
        <div id="editor" style="height: 50px"></div>
        <button ng-click="main.runQuery()" class="waves-effect waves-light btn-large">run</button>
      </div>

      <div id='result'>
        <table class="bordered highlight centered">
          <thead>
            <tr><td ng-repeat="column in main.columns">{{ column }}</td></tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in main.rows">
              <td ng-repeat="data in row track by $index">{{ data }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="queryLog">
        <ul id="logs">
          <li ng-repeat="log in main.queryLog track by $index ">{{ log }}</li>
        </ul>
      </div>
      <div id="tableInfoModal" class="modal bottom-sheet">
        <div class="modal-content">
          <h4 ng-bind="main.tableName"></h4>
          <div>
            <table>
              <tr><th ng-repeat="column in main.tableColumnsColumns">{{ column }}</th></tr>
              <tr ng-repeat="row in main.tableColumnsRows">
                <td ng-repeat="data in row track by $index">{{ data }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
<!-- js -->
<script type="text/javascript" src="js/lib/utilRequire.js"></script>
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="node_modules/ace/src/ace.js"></script>
<script src="node_modules/ace/src/ext-language_tools.js"></script>
<script src="node_modules/materialize/js/materialize.js"></script>
<script type="text/javascript" src="js/ctrl/ngInit.js"></script>
<script type="text/javascript" src="js/lib/util.js"></script>
<script type="text/javascript" src="js/lib/cache.js"></script>
<script type="text/javascript" src="js/lib/localStorage.js"></script>
<script type="text/javascript" src="js/lib/mysql.js"></script>
<script type="text/javascript" src="js/lib/tunnel_mysql.js"></script>
<script type="text/javascript" src="js/lib/editorWrap.js"></script>
<script type="text/javascript" src="js/lib/view.js"></script>
<script type="text/javascript" src="js/model/query.js"></script>
<script type="text/javascript" src="js/ctrl/ngIndexCtrl.js"></script>

</body>
</html>
