.none {
    display: none;
}

.org-side-nav {
    transition: transform 0.2s;
}

.open-side-nav {
    transform: translateX(0%);
}

.tap-target-wrapper {
    width: 800px;
    height: 800px;
    position: fixed;
    z-index: 1000;
    visibility: hidden;
    transition: visibility 0s .3s;
}

.tap-target-wrapper-open {
    right: -348px;
    bottom: -327px;
    position: fixed;
}

.display-block {
    display: block !important;
}