<ng-include src="'views/left.html'"></ng-include>

<div class="right_col" ng-init="init()">
  
  <div>

  <div class="page-title">
    <div class="title_left">
      <h3>Add Connections</h3>
    </div>
    
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">

          <h2>Details</h2>
          <!-- -->
          <form class="form-horizontal form-label-left">
            <div ng-repeat="(key, col) in columns" class="form-group" ng-show="isShow(key, col)">
              <label for="input-{{key}}" class="control-label col-md-3 col-sm-3 col-xs-12">{{col.label}}</label>

              <div ng-switch="col.input_type">
                <div ng-switch-when="text" class="col-md-9 col-sm-9 col-xs-12">
                  <input class="form-control" type="text" id="input-{{key}}" ng-model="userInput[key]" ng-init="userInput[key]=col.default" ng-disabled="col.disable"/>
                </div>
                <div ng-switch-when="password" class="col-md-9 col-sm-9 col-xs-12">
                  <input class="form-control" type="password" id="input-{{key}}" ng-model="userInput[key]" ng-init="userInput[key]=col.default"/>
                </div>
                <div ng-switch-when="number" class="col-md-9 col-sm-9 col-xs-12">
                  <input class="form-control" type="number" id="input-{{key}}" ng-model="userInput[key]" ng-init="userInput[key]=col.default"/>
                </div>
                <div ng-switch-when="file" class="col-md-9 col-sm-9 col-xs-12">
                  <input class="form-control" type="file" id="input-{{key}}" ng-model="userInput[key]" />
                </div>
                <div ng-switch-when="select" class="col-md-9 col-sm-9 col-xs-12">
                  <select class="form-control" ng-model="userInput[key]" ng-options="data.value as data.label for data in col.datas" ng-init="userInput[key]=col.selected">
                  </select>
                </div>
              </div>
            </div>

            <div class="ln_solid"></div>

            <div class="form-group">
              <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                <button type="button" ng-click="onBack()" class="btn">cancel</button>
                <button type="button" ng-click="onConnect()" class="btn">connect</button>
                <button type="button" ng-click="onSave()" class="btn btn-primary" ng-if="!!isNew">save</button>
                <button type="button" ng-click="onRemove()" class="btn btn-danger" ng-if="!isNew">remove</button>
                <button type="button" ng-click="onUpdate()" class="btn btn-success" ng-if="!isNew">update</button>
              </div>
            </div>
          </form>
          <!-- -->

          <!-- -->

        </div><!-- x_content -->
      </div>
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h2>Databases</h2>
          <div ng-if="!!databases">
            <ul ng-repeat="db in databases" class="to_do">
              <li ng-click="selectDb(db.Database)">{{db.Database}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
</div>

