<div id="left_side" class="col-md-3 left_col menu_fixed" ng-controller="LeftSideCtrl" ng-init="init()">
  <div class="left_col scroll-view">
    <div class="navbar nav_title">
      <a href="#" class="site_title">
        <i class="fa fa-paw"></i><span>Mysql</span>
      </a>
    </div>
    <div class="clearfix"></div>
    
    <div class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li>
            <a ng-click="sideBar1 = !sideBar1">
              connections
              <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu" ng-show="sideBar1" ng-init="sideBar1=false">
              <li ng-repeat="connection in connections"><a ng-click="connect(connection)">{{ connection.name }}</a></li>
            </ul>
          </li>
          <li>
            <a ng-click="processlist()">
              process list
            </a>
          </li>
          <li>
            <a ng-click="sideBar3 = !sideBar3">
              tables
              <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu" ng-show="sideBar3" ng-init="sideBar3=false">
              <li ng-repeat="table in tables"><a ng-click="onClickTable(table)">{{ table }}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>  
</div>
<!-- LeftSideCtrl end -->

<div class="top_nav">
  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle" toggle-nav-class><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li role="presentation" class="dropdown">
          <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <!--<span class="badge bg-green">6</span>-->
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>