<ng-include src="'views/left.html'"></ng-include>

<div class="right_col" ng-init='init()'>
  
  <div>

  <div class="page-title">
    <div class="title_left">
      <h3>Operation [{{ connectionName }}]</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">

          <div>
            <div class="btn-group">
              <a class="btn btn-app btn-xs" ng-click="exec()">
                <i class="fa fa-play"></i>
              </a>
              <a class="btn btn-app btn-xs" ng-click="stop()">
                <i class="fa fa-pause"></i>
              </a>

              <div class="btn-group mrg-left-10">
                <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                  {{ seletedLimit.label }}
                  <span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu">
                  <li ng-repeat="limit in limiters">
                    <a ng-click="selectedLimit(limit.value)">{{ limit.label }}</a>
                  </li>
                </ul>
              </div>
              <!--
              <a class="btn btn-app btn-xs" ng-click="goto('graphical')">
                <i class="fa fa-pie-chart"></i>
              </a>

              <a class="btn btn-app btn-xs" ng-click="starMode=!starMode">
                <i ng-class="{'fa fa-star': starMode, 'fa fa-star-o': !starMode}"></i>
              </a>
              -->
            </div>

            <div ui-ace="{
              useWrapMode : true,
              showGutter: true,
              mode: 'sql',
              onLoad: aceLoaded,
              require: ['ace/ext/language_tools']
            }" style="height: 200px" ng-if="!starMode"></div>

            <!-- star mode-->
            <div ng-if="starMode">
              <form>
                <div class="form-group">
                  
                  <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">action</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <select class="form-control" ng-model="star['action']" ng-init="star['action']=1" >
                      <option value="1">select</option>
                    </select>
                  </div>

                  <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">columns</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <select class="form-control" ng-model="star['columns']" ng-init="star['columns']=1">
                      <option value="1">all</option>
                    </select>
                  </div>

                  <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">table</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <select class="form-control" ng-model="star['table']" ng-options="table for table in tables">
                    </select>
                  </div>

                  <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">where</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <button type="button" class="btn btn-default" ng-click="toggleWhereModal()">
                      <i class="fa fa-plus"></i>
                    </button>

                    <!--<button type="button" class="btn btn-default" data-toggle="modal" data-target="#star-where">
                      <i class="fa fa-plus"></i>
                    </button>-->
                    <!--<select class="form-control" ng-model="star['where']" ng-options="table for table in tables">
                    </select>-->
                  </div>

                  <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">limit</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input class="form-control" type="text" ng-model="star['limit']"/>
                  </div>

                </div>
              </form>
              <div>
                <p>{{ star_set_query }}</p>
              </div>

              <div class="form-group">
              <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                <button type="button" ng-click="star_exec()" class="btn btn-primary">ok</button>
              </div>
            </div>

            </div>
          </div>

        </div><!-- x_content -->
      </div>
    </div>
  </div>
  <!-- editor end -->

  <div class="row" ng-if="exec_query">
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: -27px">
      <div class="x_panel">
        <div class="x_content">
          <a class="btn btn-app btn-xs" ng-click="downloadCsv()">
            <i class="fa fa-download"></i>
          </a>

          <a class="btn btn-app btn-xs" data-toggle="modal" data-target=".bs-example-modal-sm">
            <i class="fa fa-filter"></i>
          </a>

          <a class="btn btn-app btn-xs" ng-click="autoReload(true)">
            <i class="fa fa-play-circle"></i>
          </a>

          <a class="btn btn-app btn-xs" ng-click="autoReload(false)">
            <i class="fa fa-stop"></i>
          </a>
          
        </div>
      </div>
    </div>
  </div>
  <!-- buttons -->

  <div class="row" ng-if="exec_query">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          
          <div class="table-responsive max_height_700" scroll-e>
            <table class="table-bordered row-separate" ng-style="{'padding-top': scroll + 'px', 'padding-bottom': (scrollMax - scroll) + 'px'}">
              <thead>
                <tr class="headings">
                  <th class="column-index">#</th>
                  <th ng-repeat="col in columns" class="column-title column" ng-click="sort(col)">
                      {{ col }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in rows track by $id(row)">
                  <td ng-click="clickRow($index)" class="column-index">{{ getIndex(row.$$hashKey) }}</td>
                  <td ng-repeat="data in row" class="column" on-click-row>
                      {{ data | convnull | datefmt }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="exec_query">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Info</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <a class="collapse-link" ng-click="viewCnt = !viewCnt">
                <i ng-class="{'fa fa-chevron-up': viewCnt, 'fa fa-chevron-down': !viewCnt}"></i>
              </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content" ng-show="viewCnt" ng-init="viewCnt=true">
          <div class="">
            <p ng-if="total_query_count">count: {{ total_query_count }}</p>
            <p ng-if="exec_query">{{ exec_query }}</p>
            <p ng-if="localQueryTime">{{ localQueryTime }}ms</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- info end -->
  
  <modal-star-where sid="star-where" datas="{{ whereDatas }}" title="where" datakey="whereDatas" callback="modalChecked"></modal-star-where>

  <modal-checker-small sid="columns-checker" datas="{{ columns }}" title="columns" datakey="columns" callback="modalChecked"></modal-checker-small>

  </div>

</div>

